body {
    color: black;
    font-family: 'Raleway', sans-serif;
}

img {
    width: 100%;
}

.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
    z-index: 1000;
    /* top layer */
}

section {
    padding: 4rem 0 3rem;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    font-size: 1.1rem;
    color: black;
    font-weight: 400;
}

.section-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.shop {
    margin-top: 2rem;
}

.shop-content {
    display: grid;
    /* 4x4 grid */
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 3.5rem;
}

/* Cart */

.cart.active {
    right: 0;
}

#cart-icon {
    font-size: 1.8rem;
    cursor: pointer;
}

#cart-icon[data-quantity="0"]::after{
    contain: "";
}

#cart-icon[data-quantity]::after{
    contain: attr(data-quantity);
    position:absolute;
    top:0;
    right: -12px;
    width: 20px;
    height: 20px;
    border-radius:50%;
    color: white;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.add-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    background: white;
    color: black;
    padding: 10px;
    cursor: pointer;
}

.add-cart:hover {
    background: whitesmoke;
}

.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 460px;
    min-height: 100vh;
    padding: 20px;
    background: white;
    border-left: 1px solid #ccc;
    box-shadow: -2px 0 4px hsla(0, 0%, 91%, 0.973);
    transition: 0.3s ease;
    z-index: 1000;
}

.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.cart-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detail-box {
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-title {
    font-size: 1rem;
}

.cart-price {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

.cart-quantity {
    border: 1px solid black;
    outline-color: black;
    width: 2.4rem;
    text-align: center;
    font-size: .9rem;
}

.total-title {
    font-family: 'Roboto', sans-serif;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 600;
}

.total-price {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
}

.cart-remove {
    font-size: 24px;
    color: black;
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid black;
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.btn-buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    background-color: #3a3b3b;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-buy:hover {
    background-color: #000000;
}

#close-cart {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: #a5a5a5;
    cursor: pointer;
}

/* Product */
.product-box {
    position: relative;
}

.product-box:hover {
    padding: 6px;
    border: 2px;
    transition: 0.5s;
}

.product-img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.product-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.price {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

/* // success html */
.sc-container {
    text-align: center;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

.href {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.href:hover {
    background-color: #45a049;
}